
#about{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.profile-skills-container{
  display: flex;
  width: 60%;
}

.profile-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.profile-section img{
  width: 300px;
}

.profile-content{
  width: 70%;
}

.skill-charts{
  width: 50%;
}
.skill-chart {
  margin-bottom: 10px;
}

.skill-bar {
  background-color: #e0e0e0;
  width: 100%;
  height: 20px; 
  border-radius: 5px; 
}

.skill-level {
  height: 100%;
  background-color: #00bcd4;
  border-radius: 5px; 
}

.label {
  margin-bottom: 5px; 
  font-size: 16px; 
}


.skill-level {
  height: 100%;
  background-color: #00bcd4;
  border-radius: 5px;
  width: var(--skill-level);
}




































