
#about{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-header{
  color: rgb(68, 70, 73);
}

.profile-skills-container{
  display: flex;
  width: 1024px;

}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.profile img{
  width: 260px;
  border-radius: 5px;
}

.profile-content{
  width: 70%;
}

.skill-charts{

  width: 40%;

}
.skill-chart {
  margin-bottom: 10px;
}

.skill-bar {
  background-color: #e0e0e0;
  width: 100%;
  height: 20px; 
  border-radius: 5px; 
}


.label {
  margin-bottom: 5px; 
  font-size: 16px; 
}


.skill-level {
  height: 100%;
  background-color: rgb(1, 150, 173);
  border-radius: 5px;
  width: var(--skill-level);
}

@media (max-width:1024px) {
  .profile-skills-container{
    flex-direction: column;
    width: 90%;
    align-items: center;
  }

  .profile{
    width: 80%;
  }

  .profile-content{
    width: 100%;
  }

  .skill-charts{
    width: 90%;
  }

}


































