#links {
  background-color: #333; /* Dark background */
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-links {
  margin-bottom: 10px;
  display: flex;
  width: 150px;
  justify-content: space-around;
  
}

.social-links a {
  color: white; /* Icon color */
  font-size: 20px; /* Icon size */
}

.social-links a:hover {
  color: rgb(1, 150, 173); /* Change if you want hover effects */
}

/* Responsive styling if needed */
@media (max-width: 600px) {
  .social-links a {
    margin: 0 5px;
  }
}

