#home {
  height: 100vh; /* Full height of the viewport */
  width: 100%; /* Full width */
  background-image: url('../Assets/Images/background-image-laptop.jpg'); /* Add your image path */
  background-size: cover; /* Ensure the image covers the full section */
  background-position: center; /* Center the background image */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center-align children vertically */
  align-items: center; /* Center-align children horizontally */
  position: relative; /* Needed for positioning the before pseudo-element */
}

/*::before is automatically inserted as the first child of parent node which is #home*/
#home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay, adjust opacity as needed */
  z-index: 1;
}

#home h1 {
  z-index: 2; /* Ensure it's above the overlay */
  font-size: 35px; /* Adjust the size as necessary */
  color: white; /* Text color */
  margin-bottom: 20px; /* Space below h1 before the button */
  font-weight: 600;
}

#home a {
  margin-top: 15px;
  z-index: 2; /* Ensure button is also above the overlay */
  padding: 10px 20px; /* Example padding, adjust as needed */
  font-size: 16px; /* Example font size for the button */
  cursor: pointer; /* Changes the mouse cursor on hover */
  background-color: transparent; /* Example background, adjust as needed */
  color: white; /* Text color to match the h1 */
  border: 2px solid white; /* Adds a border around the button */
  text-decoration: none;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  margin-left: 10px;
  width: 25px;
}

#home a:hover{
  background-color: rgb(1, 150, 173);
  transition: all .6s ease;
  border:rgb(1, 150, 173) ;
}

#home a:hover .arrow {
  transform: rotate(90deg); /* Rotates the arrow 90 degrees */
}

.cursor {
  display: inline-block;
  width: 10px; /* Adjust based on your font size */
  background-color: black; /* Match your text color */
}

.hidden {
  opacity: 0;
}

@media (max-width: 1024px) {
  #home h1 {
    font-size: 25px; 
  }
  
  #home a{
    padding: 8px 18px; 
    font-size: 14px; 
  }

  .arrow{
    margin-left: 8px;
    width: 23px;
  }
}

@media (max-width: 768px) {
  #home h1 {
    font-size: 20px;
  }

  
  #home a{
    padding: 6px 16px; 
    font-size: 12px; 
  }

  .arrow{
    margin-left: 6px;
    width: 21px;
  }
}
/* Small screens (phones) */
@media (max-width: 480px) {
  #home h1 {
    font-size: 15px;
  }

  #home a{
    padding: 5px 15px; 
    font-size: 11px; 
  }

  .arrow{
    margin-left: 5px;
    width: 20px;
  }
}