.projects {
  width: 80%;
  margin: 0 auto; /* Center the projects container */
}

.projects h2 {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: #f0f0f0; /* Optional: background color for visibility */
}

.grid-item-1 {

}
.grid-item-2 {
}

.grid-item-3 {

}
.grid-item-4 {

}
.grid-item-5 {

}
.grid-item-6 {

}
.grid-item-7 {
 
}
.grid-item-8 {

}
.grid-item-9 {

}
