#projects {

  display: flex;
  flex-direction: column;
  align-items: center;
}


.grid-container {
  display: grid;
  width: 60%;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  /* background-color: #f0f0f0; Optional: background color for visibility */
}

.card{
  height: 250px;
}

.card-1{
  background-image: url("../Assets/Images/background-image-laptop.jpg");
}

.card-2{
  background-image: url("../Assets/Images/background-image-laptop.jpg");
}

.card-3{
  background-image: url("../Assets/Images/background-image-laptop.jpg");
}
.card-4{
  background-image: url("../Assets/Images/background-image-laptop.jpg");
}

.card-5{
  background-image: url("../Assets/Images/background-image-laptop.jpg");
}

.card-6{
  background-image: url("../Assets/Images/background-image-laptop.jpg");
}

.card-7{
  background-image: url("../Assets/Images/background-image-laptop.jpg");
}
.card-8{
  background-image: url("../Assets/Images/background-image-laptop.jpg");
}
.card-9{
  background-image: url("../Assets/Images/background-image-laptop.jpg");
}
