#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(68, 70, 73);
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: rgb(245, 245, 245);
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr); /* Default to 3 columns */
  gap: 1px;
  justify-content: center; /* Centers items in the row when they don't fill the line */
}

.card {
  position: relative;
  width: 300px;
  height: 210px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 300ms linear;
}

.card:hover::before {
  opacity: 0; /* Fades the image out */
}

.card:hover {
  background-image: none; /* This removes the background image instantly on hover. */
  background-color: white; /* This changes the background color to white on hover, transitioning smoothly over 3000ms. */
}

.card-0::before{
  background-image: url("../Assets/Images/background-image-laptop.jpg");
}
.card-1::before{
  background-image: url("../Assets/Images/background-image-laptop.jpg");
}
.card-2::before{
  background-image: url("../Assets/Images/background-image-laptop.jpg");
}
.card-3::before{
  background-image: url("../Assets/Images/background-image-laptop.jpg");
}
.card-4::before{
  background-image: url("../Assets/Images/background-image-laptop.jpg");
}
.card-5::before{
  background-image: url("../Assets/Images/css-logo.png");
}
.card-6::before{
  background-image: url("../Assets/Images/background-image-laptop.jpg");
}
.card-7::before{
  background-image: url("../Assets/Images/background-image-laptop.jpg");
}
.card-8::before{
  background-image: url("../Assets/Images/background-image-laptop.jpg");
}

.card-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.card-content .title {
  font-size: 21px;
  font-weight: bold;
  color: #333; /* Dark text color */
  text-align: center; /* Center align text */
  margin-bottom: 15px; /* Space between title and subtitle */
  margin-bottom: 0;
}

.card-content .languages {
  font-size: 14px; /* Slightly larger font size */
  color: #666; /* Lighter text color for subtitle */
  text-align: center; /* Center align text */
  margin-top: 0;
  margin-bottom: 25px; /* More space between subtitle and button */
}

.card-content button {
  width: 150px; /* Fixed width */
  height: 30px; /* Fixed height */
  line-height: 50px; /* Vertically center text inside the button */
  border: 2px solid #E91E63; /* Pink border */
  background-color: transparent; /* Transparent background */
  color: #E91E63; /* Pink text color */
  font-size: 14px;
  cursor: pointer; /* Pointer cursor on hover */
  display: block; /* Block display to utilize margin auto for centering */
  margin: 0 auto; /* Center button horizontally */
  transition: all 0.3s; /* Smooth transition for hover effects */
  position: relative; /* Make sure the button is on top */
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content button:hover {
  background-color: #E91E63; /* Pink background on hover */
  color: white; /* White text color on hover */
}


/* Medium screens (tablets): 2 columns */
@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small screens (phones): 1 column */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
